mixin menuEl(url, text)
  li(attributes, ng-class="getClass('#{url}')")
    a(ng-href="##{url}") #{text}

mixin menuElOut(url, text)
    li(attributes, ng-class="getClass('#{url}')")
        a(ng-href="#{url}") #{text}
ul
  +menuEl('/about', 'o grupie')
  +menuEl('/meetings', 'spotkania')
  +menuEl('/liders' , 'liderzy')
  +menuEl('/cooperation' , 'współpraca')
  +menuEl('/partners' , 'partnerzy')
  +menuEl('/newsletter' , 'newsletter')
  +menuElOut('http://groups.google.com/forum/?fromgroups#!forum/warszawa-jug', 'forum')
  +menuElOut('http://www.meetup.com/Warszawa-Java-User-Group-Warszawa-JUG/', 'meetup')
  +menuElOut('http://groups.google.com/group/warszawa-jug/post?sendowner=1&hl=pl&pli=1' , 'kontakt')

//+menuEl('/dlaprelegenta', 'Dla Prelegenta')
